body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center; /* 정보들을 가운데로 정렬 */
  }
  
  .product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block; /* 가운데로 정렬하기 위해 inline-block으로 설정 */
  }
  
  .product img {
    width: 200px;
    height: 200px;
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product .price {
    font-weight: bold;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  